@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}
#title {
  background-image: linear-gradient(
    to right,
    #ef476f,
    #ffca3a,
    #8ac926,
    #1982c4,
    #6a4c93
  );
  -webkit-box-shadow: inset -2px -53px 55px -7px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset -2px -53px 55px -7px rgba(0, 0, 0, 0.18);
  box-shadow: inset -2px -53px 55px -7px rgba(0, 0, 0, 0.18);
  color: white;

  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title h1 {
  font-family: "Comfortaa", sans-serif;
  margin-left: 20px;
}

#title button {
  margin-right: 20px;
}

#container {
  margin: 30px 30px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#addItem h2 {
  font-weight: normal;

  margin-bottom: 15px;
}

#addItem p {
  margin-top: 10px;
  text-align: center;
  color: #f53663;
}
.inputGroup > input,
span {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  font-weight: normal;
}
#newItemTitle {
  width: 40%;
}

.itemTitle {
  width: 40%;
  height: fit-content;
}

.inputGroup > .check {
  width: 30px;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: #5c5c5c17;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

#notes {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
  margin-top: 15px;
}
h2 {
  font-weight: normal;
}

button {
  height: 50px;
  appearance: none;
  position: relative;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  z-index: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
  border: 0;
}

button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 6px;
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );

  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

button:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

button,
button::after {
  box-sizing: border-box;
}

button:active {
  --border-width: 5px;
}

.checked {
  background-color: #8ac926;
}
